<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
        integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <main class="container">
        {{#if dt.num}}
            <h1 id="num">{{dt.num}}</h1>
            <p>Date created: 
                <time datetime="{{dt.month}}-{{dt.day}}-{{dt.year}}">{{dt.month}}-{{dt.day}}-{{dt.year}}</time>
            </p>
            <h1 class="title">Title: {{dt.title}}</h1>
            {{!-- if \n, new line --}}
            <article class="tsptSection">
                <p>Transcript: {{dt.transcript}}</p>
            </article>
            <div class="imgSection">
                <img src="{{dt.img}}" alt="{{dt.alt}}">
            </div>
        {{else}}
            <p>This comic number does not exist.</p>
        {{/if}}
        {{!-- limited to 0 to latest --}}
        <div class="btnSection">
            <button type="button" onclick="search(1)">Next</button>
            <button type="button" onclick="search(-1)">Previous</button>
            <button type="button" onclick="search(0)">Random Comic</button>
        </div>
        <p class="timePassed">Time passed: <span class="minutes">00</span>:<span class="seconds">00</span></p>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./all.js"></script>

    <script>
        const makeAJAXRequest = (method, url) => {
            fetch(url, {
                method: method,
                headers: { 'Content-Type': 'application/json' },
                mode: "no-cors",
            })
            .then((response) => {
                console.log(response.ok);
            })
            .then(() => {
                window.location = url;
            });
        }

        const nextComic = () => {
            makeAJAXRequest("GET", parseInt(num.textContent) + 1);
            
        }

        const previousComic = () => {
            makeAJAXRequest("GET", parseInt(num.textContent) - 1);
        }

        const random = () => {
            makeAJAXRequest("GET", Math.floor(Math.random() * 2528));
        }

        const search = (select) => {
            let num = document.getElementById('num');
            switch (select) {
                case 1:
                    nextComic();
                    break;
                case -1:
                    previousComic();
                    break;
                case 0:
                    random();
                    break;
            }
        }

        const timePassed = () => {
            let minute = document.querySelector(".minutes");
            let second = document.querySelector(".seconds");
        
            setInterval(function () {
                    if (parseInt(second.textContent) < 59)
                        second.textContent = ('0' + parseInt(++second.textContent)).slice(-2);
                    else if (parseInt(second.textContent) === 59) {
                        second.textContent = '00';
                        minute.textContent = parseInt(++minute.textContent);
                    }
                }, 1000);
            
        }
        timePassed();

    </script>
</body>

</html>