<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics</title>
    {{!-- <script src="all.js"></script> --}}
    <script>
        function makeAJAXRequest(method, url) {
            fetch(url, {
                method: method,
                headers: { 'Content-Type': 'application/json' },
                mode: "no-cors",
            })
            .then(() => {
                window.location = url;
            });
        }

        function nextComic() {
            makeAJAXRequest("GET", ++num.textContent);
        }

        function previousComic() {
            makeAJAXRequest("GET", --num.textContent);
        }

        function random() {
            makeAJAXRequest("GET", num.textContent = Math.floor(Math.random() * 2528));
        }

        const search = (select) => {
            let num = document.getElementById('num');
            switch (select) {
                case 1:
                    nextComic();
                    break;
                case -1:
                    previousComic();
                    break;
                case 0:
                    random();
                    break;
            }
        }

    </script>
</head>

<body>
    {{!-- limited to 0 to latest --}}
    
    <button type="button" onclick="search(1)">Next</button><br /><br />
    <button type="button" onclick="search(-1)">Previous</button><br /><br />
    <button type="button" onclick="search(0)">Random Comic</button><br /><br />
    <h1 id="num">{{dt.num}}</h1>
    {{#if dt.num}}
        <p>Date created: <time datetime="{{dt.month}}-{{dt.day}}-{{dt.year}}">{{dt.month}}-{{dt.day}}-{{dt.year}}</time></p>
        {{!-- if \n, new line --}}
        <p>Transcript: {{dt.transcript}}</p>
        <img src="{{dt.img}}" alt="{{dt.alt}}">
    {{else}}
        <p>This comic number does not exist.</p>
    {{/if}}
</body>

</html>